body {
    height: 100vh;
    background:linear-gradient(rgb(15, 87, 176),rgb(239, 129, 217),rgb(193, 56, 170));
  }

  body .mainBox{
    margin-top: 50px;
    margin-left: 200px;
    padding: 30px;
  }
.mainBox{
  display: flex;
    border:0.5rem solid black;
    border-radius: 8px;
    background-color: rgba(185, 216, 130, 0.788);
    height: 500px;
    width: 70%;
}
.page1 p{
  width: 500px;
  margin-left: 10px;
  top: 200px;
}
.page1 ul{
  width: 65%;
  margin-left: 10px;
}
img{
    height: 150px;
    width: 350px; 
     
}
.sps {
  display: flex;
  
}
.bt{
  display: flex;
}
.bt .p{
  padding-left: 150px;
 top: 80px;
}

.button{
  padding-top: 50px;
  margin-left: 100px;
  justify-content: space-evenly;
}